/* PLEASE NOTE
AutoPrefixer CSS Online was used to check that the correct prefixes were used to ensure browser compatibility!
https://autoprefixer.github.io/
*/

/*
embeded fonts from Google fonts into the website's CSS so they can be used.
*/
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fredoka+One&display=swap");

html {
  line-height: 250%;
}

body {
  /*
  Changed the line height to 250%, because I felt like 140% (as it said in the powerpoint) just didnt cut it. 
  */
  line-height: 250%;
  color: rgb(34, 34, 34);
  /*
  The background in the very back is gray, so the white sections layer over it nicely to create a hiearchy.
  */
  background-color: #cdcccf;
  padding: 10px;
}

header {
  font-family: "Fredoka One", "Arial Rounded MT", "Calibri", sans-serif;
  color: rgb(240, 240, 240);
  position: fixed;
  /*
  Putting the header bar in place
   */
  top: -1;
  width: 100%;
  line-height: 100%;
  padding: -1000px;
  z-index: 2000;
  /*
  A shadow to help layer the nav bar on top of everything
  */
  -webkit-box-shadow: 1.5px 3px 5px rgba(0, 0, 0, 0.226);
  -moz-box-shadow: 1.5px 3px 5px rgba(0, 0, 0, 0.226);
  box-shadow: 1.5px 3px 5px rgba(0, 0, 0, 0.226);
  margin-left: 0px;
  margin-top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.sections {
  padding: 20px;
  margin: 10px;
  margin-top: 20px;
  background-color: rgb(238, 238, 238);
  border: solid;
  border-width: 1px;
  border-color: rgb(185, 185, 185);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 1.5px 3px 2px rgba(0, 0, 0, 0.226);
  -moz-box-shadow: 1.5px 3px 2px rgba(0, 0, 0, 0.226);
  box-shadow: 1.5px 3px 2px rgba(0, 0, 0, 0.226);
}

.button {
  left: 45%;
  vertical-align: center;
  text-align: center;
  color: rgb(74, 27, 218);
  background-color: rgb(37, 9, 121);
  padding: 15px;
  border: solid;
  border-width: 5px;
  border-color: rgb(132, 91, 255);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.nav-link li {
  font-size: 21px;
  font-family: "Asap", Arial, Helvetica, sans-serif;
  font-weight: thin;
  color: aliceblue;
  padding-left: 2.5px;
  padding-right: 2.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: aliceblue 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 2px;
  float: right;
}

.nav-link a :hover {
  border-bottom: aliceblue 10px solid;
  border-left: aliceblue 10px solid;
  border-bottom-width: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  -webkit-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  margin: 10px;
}

.nav-link li :not(:hover) {
  color: aliceblue;
  padding: 15px;
  padding-bottom: 20px;
  border: aliceblue 1px solid;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition: padding border ease-in-out 5s;
  -o-transition: padding border ease-in-out 5s;
  -moz-transition: padding border ease-in-out 5s;
  transition: padding border ease-in-out 5s;
}

header {
  text-align: center;
  /*I thought it would be fun to add a gradient nav bar
        from: https://www.w3schools.com/css/css3_gradients.asp*/
  background-image: -webkit-linear-gradient(left top,right top,(#525bff), (#a052ff));
  background-image: -webkit-linear-gradient(left, #525bff, #a052ff);
  background-image: -moz-linear-gradient(left, #525bff, #a052ff);
  background-image: -o-linear-gradient(left, #525bff, #a052ff);
  background-image: linear-gradient(to right, #525bff, #a052ff);
  padding: 1px;
  position: -webkit-sticky;
  position: sticky;
  margin: -20px;
  padding-right: 35px;
}

ul {
  text-align: left; /*makes exception for any of the links (or pretend links) to be aligned to the left */
}

#navigation {
  font-size: 25px;
}

#top-of-page {
  font-size: 104px;
  position: relative;
  display: inline;
  font-family: "Courier Prime", Courier, monospace, serif;
}

.text-over-image {
  text-align: center;
  position: relative;
  top: -500px;
  color: white;
  font-size: 40px;
}
.p-over-image {
  position: relative;
  text-align: center;
  font-size: 20px;
  top: -500px;
  color: white;
}
.background-image {
  border: 1px solid;
  border-color: rgb(0, 0, 0);
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

h1 {
  /*
  I would make the font size a bit smaller for the title when you scroll down, as it becomes less important but apparently that involves JavaScript.
  */
  text-align: left;
  font-size: 44px;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 100%;
  margin: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

p {
  font-size: 24px;
  font-family: "Asap", Arial, Helvetica, sans-serif;
}

h2 {
  font-family: "Courier Prime", "Courier New", Courier, monospace, sans-serif;
  font-size: 44px;
  text-align: left;
  margin: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
  float: bottom;
  background-image: -webkit-linear-gradient(linear,left top,right top) color-stop(1%, #525bff), color-stop(20%, #a052ff), to(#00c8ff);
  background-image: -webkit-linear-gradient(
    left,
    #525bff 1%,
    #a052ff 20%,
    #00c8ff
  );
  background-image: -moz-linear-gradient(
    left,
    #525bff 1%,
    #a052ff 20%,
    #00c8ff
  );
  background-image: -o-linear-gradient(left, #525bff 1%, #a052ff 20%, #00c8ff);
  background-image: linear-gradient(to right, #525bff 1%, #a052ff 20%, #00c8ff);
  padding: 20px;
  /* much like a clipping mask in procreate, but with text and a background colour */
  -webkit-background-clip: text;
  color: transparent;
}

nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  list-style: none;
}

.text {
  display: inline;
  white-space: pre-line;
  text-align: left;
  overflow: wrap;
  float: left;
  margin: 50px;
  margin-top: -75px;
  margin-bottom: 75px;
}

.text-right {
  display: inline-block;
  white-space: pre-line;
  text-align: left;
  overflow: wrap;
  margin: 50px;
  margin-top: -70px;
  margin-bottom: 75px;
  margin-left: -120px;
}

footer {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#525bff),
    to(#a052ff)
  );
  background-image: -webkit-linear-gradient(left, #525bff, #a052ff);
  background-image: -moz-linear-gradient(left, #525bff, #a052ff);
  background-image: -o-linear-gradient(left, #525bff, #a052ff);
  background-image: linear-gradient(to right, #525bff, #a052ff);
  margin: 10px;
  padding: 10px;
  margin-bottom: -150px;
  z-index: 500;
  color: aliceblue;
  text-align: center;
  margin-left: -18px;
  margin-right: -18px;
}
.cyberpatriot h2 {
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cyberpatriot #under-title-cyber {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: space-around;
  -ms-flex-item-align: space-around;
  -ms-grid-row-align: space-around;
  align-self: space-around;
}

#cyberpatriot-text {
  text-align: left;
  margin-left: 20px;
}

#cyberpatriot-logo {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 30%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#cyberpatriot-logo img {
  max-width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 25%;
}
/* ESPORTS SECTION */

.esports h2 {
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.esports #under-title-esports {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: space-around;
  -ms-flex-item-align: space-around;
  -ms-grid-row-align: space-around;
  align-self: space-around;
}

.esports #text-esports {
  text-align: left;
  margin-left: 20px;
}

.esports #rocket-league {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 30%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.esports #rocket-league img {
  max-width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 25%;
}

/* GAMES CLUB SECTION */

.gamesclub h2 {
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gamesclub #under-title-gamesclub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: space-around;
  -ms-flex-item-align: space-around;
  -ms-grid-row-align: space-around;
  align-self: space-around;
}

.gamesclub #text-gamesclub {
  text-align: left;
  margin-left: 20px;
}

.gamesclub #mk8d-ssbu {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 30%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.gamesclub #mk8d-ssbu img {
  max-width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 25%;
}

/* PHOTOGRAPHY CLUB SECTION */

.photography h2 {
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.photography #under-title-photography {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: space-around;
  -ms-flex-item-align: space-around;
  -ms-grid-row-align: space-around;
  align-self: space-around;
}

.photography #text-photography {
  text-align: left;
  margin-left: 20px;
}

.photography #squirrel-chickadee {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 30%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.photography #squirrel-chickadee img {
  max-width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 25%;
}

/* SCREEN RESIZING PURPOSES */
/* from https://www.w3schools.com/css/tryit.asp?filename=trycss_mediaqueries_flex.
basically saying if the screen is under 800px wide (ex: on mobile phone), the flex direction will change to column, since it is otherwise set to row. I tried making the image get smaller as the window shrunk, but that looked TERRIBLE! */
@media screen and (max-width: 800px) {
  .cyberpatriot #under-title-cyber {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .esports #under-title-esports {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .gamesclub #under-title-gamesclub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .photography #under-title-photography {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
